{{> /inc/header}}
<h1>Eléments</h1>
<a class="ui button" href="/items/new">Ajouter...</a>
<ul>
{{#items}}
	<li>{{nom}} <div class="ui yellow rating" data-icon="star" data-max-rating="10" data-rating="{{evaluation}}"></div> 
		<a href="items/inc/{{nom}}"><i class="ui angle up green icon"></i></a> 
		<a href="items/dec/{{nom}}"><i class="ui angle down red icon"></i></a>
		<a class="ui icon mini circular basic button" href="items/delete/{{nom}}"><i class="ui remove red icon"></i></a>
		
	</li>
{{/items}}
</ul>
{{#msg}}
	<div class="ui icon {{type}} message">
	  <i class="{{icon}} icon"></i>
	  <div class="content">
	    <div class="header">
	      Message
	    </div>
	    <p>{{{content}}}</p>
	  </div>
	</div>
{{/msg}}
{{> /inc/footer}}
